In [18]:
import pandas as pd
import json
from pandas import json_normalize
import numpy as np

# Define the relative path to the JSON file
file_path = r'..\..\Data\Raw\tweets_ws23_v1.json'

# Load json file
with open(file_path, 'r', encoding='utf-8') as json_file:
    json_data = json.load(json_file)

In [19]:
def get_all_keys(obj):
    keys = set()
    if isinstance(obj, dict):
        keys.update(obj.keys())
        for value in obj.values():
            keys.update(get_all_keys(value))
    elif isinstance(obj, list):
        for item in obj:
            keys.update(get_all_keys(item))
    return keys

# Get all unique keys
all_keys = get_all_keys(json_data)

# Convert the set to a list to see all unique keys
all_keys_list = list(all_keys)

In [28]:
def flatten_json(y):
    """Flatten a nested JSON object"""
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[name[:-1]] = x

    flatten(y)
    return out

# Flatten the JSON data
flattened_data = [flatten_json(entry) for entry in json_data]

# Convert the list of flattened dictionaries to a DataFrame
df = pd.DataFrame(flattened_data)

# Show the DataFrame
df.head(3)

,source_created_at,author_id,text,source,language,longitude,latitude,id,labels_topic_0_tweet_id,labels_topic_0_user_id,labels_topic_0_relevant,labels_topic_0_topic,labels_topic_0_ground_truth,labels_topic_0_id,labels_sentiment_0_tweet_id,labels_sentiment_0_user_id,labels_sentiment_0_sentiment,labels_sentiment_0_ground_truth,labels_sentiment_0_id,source_id
0,2020-09-18 21:56:20.798000,593731316,@DSisourath The Thameslink core between London...,sprinklr,en,-0.12574,51.50853,acd7673f-e621-5f1a-d662-df278964a6ea,acd7673f-e621-5f1a-d662-df278964a6ea,Z003XDCS,True,service,True,8655353b-cc71-1e89-95d5-1c4e6bf200e1,acd7673f-e621-5f1a-d662-df278964a6ea,Z003XDCS,negative,True,5ee4d218-65a9-70a0-0964-a5b00e594a41,NaN
1,2020-10-13 07:31:53.122000,745583289520496640,@DulwichHistory Loving the complaint about peo...,sprinklr,en,-0.12574,51.50853,5b92aba8-4b05-6c63-8485-e9c870742137,5b92aba8-4b05-6c63-8485-e9c870742137,Z003XDCS,True,delays,True,8aee5c86-6e93-24d4-6d9d-d8a9f2f19cef,5b92aba8-4b05-6c63-8485-e9c870742137,Z003XDCS,negative,True,2f8d741f-59cf-d1ab-27f9-5537a9718f94,NaN
2,2020-10-26 19:27:24.695000,303134761,@SW_Help .And yet you have no toilets on some ...,sprinklr,en,-0.12574,51.50853,0a799c07-8b76-17ba-b840-e538d51e832d,0a799c07-8b76-17ba-b840-e538d51e832d,Z003XDCS,True,toilets,True,2d54f18a-442d-b59b-9daf-0490dc64d21a,0a799c07-8b76-17ba-b840-e538d51e832d,Z003XDCS,negative,True,be479c30-17c3-220f-8eae-eaf6fc874431,NaN

In [27]:
df[df['labels_sentiment_0_sentiment']=='positive'].head(3)

,source_created_at,author_id,text,source,language,longitude,latitude,id,labels_topic_0_tweet_id,labels_topic_0_user_id,labels_topic_0_relevant,labels_topic_0_topic,labels_topic_0_ground_truth,labels_topic_0_id,labels_sentiment_0_tweet_id,labels_sentiment_0_user_id,labels_sentiment_0_sentiment,labels_sentiment_0_ground_truth,labels_sentiment_0_id,source_id
17,2020-09-06 18:46:23.363000,20998602,"I love this train conductor(?), he's apologise...",sprinklr,en,-0.70312,52.16045,d7d4596f-34ed-910a-462a-c4bc8143b968,d7d4596f-34ed-910a-462a-c4bc8143b968,Z003XDCS,True,service,True,e0157ff4-2379-a3ae-8a5c-333e9ce2b18d,d7d4596f-34ed-910a-462a-c4bc8143b968,Z003XDCS,positive,True,19beeb3e-ad24-30f1-64b7-08b327579f40,NaN
2314,2019-03-13 17:43:18,8.619800622031626e+17,"2,000 more Thameslink seats for Cambridge and ...",brandwatch,en-GB,NaN,NaN,d8d7d2d9-3f44-1a6a-a004-b71bda46c067,d8d7d2d9-3f44-1a6a-a004-b71bda46c067,Z003XDCS,True,train_general,True,f658b34f-f26c-3f7b-de44-47d1381598aa,d8d7d2d9-3f44-1a6a-a004-b71bda46c067,Z003XDCS,positive,True,6f7441d2-7107-f40c-cc2b-50a694d0a20f,1105887070407536641
2315,2019-03-19 09:06:35,1.1037275362683453e+18,"2,000 more Thameslink seats for Cambridge and ...",brandwatch,en,NaN,NaN,2c4ba00d-2ae5-715c-f014-91d85392d88b,2c4ba00d-2ae5-715c-f014-91d85392d88b,Z003XDCS,True,train_general,True,bc49eccb-592c-6103-0ab6-fd900e329b4e,2c4ba00d-2ae5-715c-f014-91d85392d88b,Z003XDCS,positive,True,48e68791-2f8b-182d-00ae-86727b11dd9c,1107931359564177408

In [37]:
np.random.seed(42)

df_sample = df.sample(n=100)
df_sample.to_csv(r'..\..\Data\Processed\Sprint4 - sample_tweets_complete - Erjon.csv', index=False)

In [38]:
# export all df to csv

df.to_csv(r'..\..\Data\Processed\Sprint4 - tweets_complete - Erjon.csv', index=False)

In [39]:
df_sample.head(3)

,source_created_at,author_id,text,source,language,longitude,latitude,id,labels_topic_0_tweet_id,labels_topic_0_user_id,labels_topic_0_relevant,labels_topic_0_topic,labels_topic_0_ground_truth,labels_topic_0_id,labels_sentiment_0_tweet_id,labels_sentiment_0_user_id,labels_sentiment_0_sentiment,labels_sentiment_0_ground_truth,labels_sentiment_0_id,source_id
8062,2019-01-16 18:45:31,20086215.0,@TLRailUK You opened the doors 20 seconds afte...,brandwatch,en-GB,NaN,NaN,403002e4-f21e-96b7-8ba3-9a5209aa5e79,403002e4-f21e-96b7-8ba3-9a5209aa5e79,Z003XDCS,True,none,True,feb9d117-912d-2438-c840-4e190f7177d9,403002e4-f21e-96b7-8ba3-9a5209aa5e79,Z003XDCS,negative,True,26bb9a74-f12b-a2f1-2a6a-fa649a37ffbf,1085609007706984448
16105,2020-09-02 18:20:00.938000,18910523,@TLRailUK why don’t the doors open at every st...,sprinklr,en,-0.12574,51.50853,72881b0b-3668-6d19-e689-d0a9b27abb7f,72881b0b-3668-6d19-e689-d0a9b27abb7f,Z003XDCS,True,covid,True,7d087378-d168-bf34-59ee-9a26859323b3,72881b0b-3668-6d19-e689-d0a9b27abb7f,Z003XDCS,neutral,True,75d2d3cd-4311-ee51-aea3-8a901d12feab,NaN
7838,2019-05-31 08:18:53,3403899430.0,@TLRailUK When on phone to @LNER they said as ...,brandwatch,en-GB,NaN,NaN,f64bfdc3-0034-8172-b532-64987f26f29f,f64bfdc3-0034-8172-b532-64987f26f29f,Z003XDCS,True,delays,True,8b1b3562-fa5d-6059-81c8-1f2c6749eff0,f64bfdc3-0034-8172-b532-64987f26f29f,Z003XDCS,negative,True,046ec661-ff1e-b31b-1451-ba33e64bcda8,1134373669948575744